img{
    width: 300px;
}

.footer{
    background-color: #f3e9f1;
    display: flex;
    justify-content: center;
    height: 100px;
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0px;
        width: 800px;
        justify-content: space-around;
        align-items: center;
        li{
            font-size: 25px;
            color: #915cf6;
        }
    }
}