header{
    background-color: #f3e9f1;
    height: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    img{
        width: 300px;
    }
    p{
        font-size: 32px;
        font-style: oblique;
        color: black;
        margin-top: 45px;
    }
    i{
        font-size: 30px;
        color: blueviolet;
    }
}