header{
    background-color: #f3e9f1;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    img{
        width: 300px;
    }
    p{
        font-size: 32px;
        font-style: italic;
        color: #915cf6;
        margin-top: 45px;
    }
}