#cameras{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img{
        margin: 10px;
        width: 300px;
        height: 200px;
    }
    a{
        text-decoration: none;
    }
    h2, p{
        color: rgb(77, 37, 9);
    }
}

h1{
    margin-left: 20px;
    color: #301463;
    
}

#imgCamera{
    width: 300px;
}

